Reset css *********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 
/*******
Global *********/
Html{
    font-size: 16px;
}
*{
    text-decoration: none;

}
li{
    list-style: none;

}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.2rem;
}
h6{
    font-size: 1rem;
}
.container{
    width: 80%;
    margin: 0 auto;
    
}

.row{
    display: flex;
    justify-content:space-between;
    align-items: center;
    column-gap: 50px;
    padding: 15px 0;
}

.orange-text-color{
   color: rgba(231, 64, 64, 1);
   
}

.orange-bg-color{
   background-color: rgba(231, 64, 64, 1);
}
.green-bg-color{
   background-color:  #96bb7c;
}
.ll{
    color: black;
}
.lg{
    color: #737373;
}
.lo{
    border-color: #96bb7c;
}

.green-text-color{
 color: rgba(150, 187, 124, 1);
}

/*******
Header  *********/
.header {
    position: sticky; 
    top: 0;
    background-color: white;
    box-shadow: rgb(133, 134, 55) 0px 20px 30px -10px;
    z-index: 99;
      
}
.header > div{
    display: flex;
    column-gap: 50px;
 
}
nav{
    width: 100%;
    display:flex;  
}

/*******
Hero-section  *********/
#hero-sectiom-wrapper{
    position: relative;
    height: 100vh;
}
.image-box{
    position: relative;
     width: 50%;
    height: 500px;
    top: -60px;
    flex: 1;
    margin-top: 20px;

}
.img-1{
    position: absolute; 
    width: 500px;   
}
.img-2{
    position: absolute;
    width: 600px;
   left: -180px;
   top: 130px;
   
}
.img-3{
    position: absolute;
       width: 580px;
       top: 90px;
       right: -70px;
    
}
.img-4{
    position: absolute;
    width: 500px;
    height: 600px;
}
.img-5{
    position: absolute;
    top: 90px;
    left: -50px;
}

.hero-content{
    width: 40%;
    flex: 1;
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    top: 160px;
    
   
}
/*******
count-section  *********/
#count-section{
    position: absolute;
    bottom: 20px;
    
}
.count-card{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: lightcyan;
    box-shadow: rgb(161, 35, 56) 0px 20px 30px -10px;
    padding: 20px;
   display: inline-block;
}
.icon-box{
   width: 80px;
   height: 80px;
   border-radius: 50%;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.divider{
    height: 3px;
    width: 50px;
   
}
/*******
stats-section *********/
.stats-section{
     position: absolute;
} 
.stats-card{
    text-align: center;
}
 .stats-card h2{
    margin-bottom: 10px;
 }
